.checkbox {
    @apply cursor-pointer ease-in-out duration-300
    normal-case rounded-md h-5 w-5 appearance-none border-solid border-2
    border-slate-500 bg-white transition-colors checked:border-primary-500
    checked:bg-primary-500 checked:hover:border-primary-600 checked:hover:bg-primary-600
    focus:outline-none checked:focus:border-primary-700 checked:focus:bg-primary-700
    focus-visible:outline-none disabled:cursor-not-allowed disabled:border-slate-100
    disabled:bg-slate-50;
}

.label {
    @apply text-base cursor-pointer pl-2 peer-disabled:cursor-not-allowed peer-disabled:text-slate-400
}
